body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 1rem;
    background-color: #141432;
}

.h2-quiz  {
    color: #312e9b;
    text-align: center;
}

.question {
    margin-bottom: 1rem;
}

.options {
    margin-left: 1.2rem;
}

#result {
    margin-top: 2rem;
    font-weight: bold;
}

#result.correct {
    color: green;
}

.button {
    display: flex;
    justify-content: space-between;
}

.cont-timer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.timer {
  border: 3px solid #312e9b;
  border-radius: 15%;
  padding: 0.5rem;
  font-size: 2rem;
  color: #312e9b;
}

.start-btn {
  background: green;
  border-radius: 50%;
  color: white;
}

.stop-btn {
  background: red;
  border-radius: 50%;
  color: white;
}

p, .options{
  color: #312e9b;
}

.container.ceva {
  width: 50rem;
}

.timer-start-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}